<!-- views/pages/index.ejs -->
<!doctype html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header class="page__code">
			<% include ../partials/navbar %>
		</header>
		<div class="container" class="container code">
	     	<ul class="portfolio__list">
	     		<% codeData.forEach(function(proj) { %>
        			<li class="clearfix">
        				<a href="<%= proj.url %>" target="_blank">
							<span class="img" style="background-image:url(../../img/<%= proj.img_url %>)"></span>
						</a>
						<div class="description__container">
							<h1 class="description__title">
								<%= proj.name %>
							</h1>
							<div class="description__text">
								<%= proj.description %>
							</div>

							<div class="description__written-in description__extra-info">
								<span class="description__key">Written In:</span>
								<a class="description__link"> <%= proj.written_in %></a>
							</div>

							<div class="description__url description__extra-info">
								<span class="description__key">Url:</span>
								<a class="description__link" href="<%= proj.url%>"> <%= proj.url %></a>
							</div>

							<div class="description__code-url description__extra-info">
								<span class="description__key">Github:</span>
								<a class="description__link" href="<%= proj.code_base_url%>"> <%= proj.code_base_url %></a>
							</div>

						</div>
					</li>
		        <% }); %>
		    </ul>
	    </div>

	    <footer>
	    	<% include ../partials/footer %>
	    </footer>
	</body>
</html>